html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: "";
  content: none;
}

q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 50px;
}

* {
  outline: none;
}

@font-face {
  font-family: regular;
  src: url(../fonts/Montserrat-Regular.ttf);
}
@font-face {
  font-family: headline;
  src: url(../fonts/Montserrat-Black.ttf);
}
@font-face {
  font-family: medium;
  src: url(../fonts/Montserrat-Medium.ttf);
}
@font-face {
  font-family: bold;
  src: url(../fonts/Montserrat-Bold.ttf);
}
.wrapper {
  padding: 0 100px;
}

.text {
  font-family: regular;
  font-size: 20px;
  color: #3F2207;
}
.text_accent {
  font-family: bold;
  color: #CC855D;
}
.text_margin-top {
  margin-top: 50px;
}

.headline {
  font-family: medium;
  font-size: 32px;
  color: #63A4DA;
  font-weight: 700;
}

.box {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.box .header {
  width: 100%;
  height: 100vh;
  background-color: #63A4DA;
}
.box .header .nav {
  width: 100%;
  height: 100px;
  display: flex;
  align-items: center;
}
.box .header .nav .header__logo {
  display: block;
  content: "";
  width: 200px;
  height: 100px;
  background-image: url(../img/header/logo.svg);
  background-position-x: left;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}
.box .header .nav ul {
  display: flex;
  width: 100%;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.box .header .nav ul li a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.2s;
}
.box .header .nav ul li a:hover {
  font-weight: 600;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
.box .header__content {
  height: calc(100vh - 200px);
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
}
.box .header__content .header__headline {
  font-size: 96px;
  font-family: headline;
  color: #ffffff;
  text-align: center;
}
.box .header__content .header_description {
  color: #ffffff;
  font-size: 22px;
  font-family: regular;
  font-weight: 600;
  text-align: center;
  line-height: 32px;
}
.box .header__content .header__buttons {
  width: 50%;
  height: 100px;
  display: flex;
  align-self: center;
  align-items: center;
  justify-content: space-around;
}
.box .header__content .header__buttons .header__button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45%;
  height: 70px;
  background-color: #ffffff;
  font-size: 22px;
  font-family: regular;
  text-decoration: none;
  color: #3F2207;
  border-radius: 10px;
  transition: 0.2s;
}
.box .header__content .header__buttons .header__button:hover {
  box-shadow: inset -1px -1px 7px 5px rgba(0, 0, 0, 0.2);
}
.box .header__content .header__buttons .header__button:active {
  background-color: #D0D0D0;
  box-shadow: none;
}
.box .qualities {
  width: 100%;
  height: 300px;
  background: linear-gradient(180deg, #63A4DA 0%, #ffffff 100%);
}
.box .qualities__content {
  width: 100%;
  height: 250px;
  background-color: #ffffff;
  border-radius: 10px;
  transform: translateY(-50px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  padding: 50px 0;
  box-sizing: border-box;
}
.box .qualities__content div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.box .qualities__content div img {
  width: 110px;
}
.box .qualities__content div .headline {
  font-size: 22px;
  text-align: center;
  font-weight: 500;
}
.box .about {
  width: 100%;
  min-height: 400px;
  line-height: 30px;
  display: flex;
  justify-content: space-between;
}
.box .about__info {
  height: 100%;
  width: 58%;
}
.box .about__pic {
  width: 40%;
}
.box .psycho {
  width: 100%;
  min-height: 300px;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}
.box .psycho__flashcards {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 50px;
}
.box .psycho__info {
  width: 45%;
  height: 100%;
  text-align: right;
  line-height: 30px;
}

.flip-card {
  background-color: transparent;
  perspective: 1000px;
  font-family: regular;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg) scale(1.3);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flip-card-front img {
  width: 100%;
  border-radius: 10px;
}

.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  border: 1px solid #3F2207;
}
.flip-card-back h1 {
  color: #CC855D;
  font-weight: 600;
  margin-top: 30px;
}
.flip-card-back .text {
  font-size: 12px;
  padding: 25px;
}/*# sourceMappingURL=main.css.map */